<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883311414475-p5b5gcg4fa8ome3gvpkao25a48t4akgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883311414475-p5b5gcg4fa8ome3gvpkao25a48t4akgj</string>
	<key>API_KEY</key>
	<string>AIzaSyAaOaSbtmiDq4rxXGBwra6r3Z7pTNe-pF4</string>
	<key>GCM_SENDER_ID</key>
	<string>883311414475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yosuke.YoutubePlayer</string>
	<key>PROJECT_ID</key>
	<string>youtubeplayer-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>youtubeplayer-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883311414475:ios:6f11452656c1da7bf09f4e</string>
</dict>
</plist>